body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.site-main, .site-info{
	max-width: 1200px;
	margin: 0 auto;

	@media only (max-width: 1200px){
		padding: 0 25px;
	}
}

.site-footer{
	padding: 25px 0px;
}