
.cd-hero {
	height: 300px;
    display: flex;
    align-items: center;
	width: 100%;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: cover!important;

   

    @media (max-width: $breakpoint-tablet){
       height: fit-content;
       background-image: none!important;
    }
}
	
	@media (min-width: 768px){
		.cd-hero{height: 400px;}
	}
	@media (min-width: 1024px){
		.cd-hero{height: 500px;}
	}
	
.cd-hero .cd-hero-content {
    background-color: transparent;    
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

.header-logo-ctn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 249px;
    width: 50%;

    @media (max-width: $breakpoint-phone){
        justify-content:center;
        display:none
    }
}
.header-logo{
    max-width: 50%;
    height: auto;
    max-height: 200px;
}

.hero---title{ 
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    max-width: 600px;
    width: 45%;
    padding: 50px;

    h1{
        color: #fff;font-weight: 700;font-size: 40px;
        margin-bottom: 0rem;
        margin-top: 0px;

        @media (max-width: $breakpoint-tablet){
            line-height: 1.2;
        }

        @media (max-width: $breakpoint-phone){
            margin-bottom: 15px;
        }
    }
    p{
        margin: 0;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .entry-meta, time, .byline , .author a{
        color: #fff;
    }
    .entry-meta{
        margin-top: 12px;
    }

   

    @media (max-width: $breakpoint-phone){
        width: 100%;
        margin: 0 auto;
        padding: 50px 25px;
    }
}

.work-header{
    .hero---title{
        p{
            margin-bottom: 10px;
        }
    }
    .header-link{
        color: #fff!important;
        margin-top: 7px;
    }
}

.page-template-template-work{
    .hero---title{
        background-color: #21D4FD;
        background-image: linear-gradient(
    19deg, #21D4FD 0%, #B721FF 100%);
    }
}

.blog-header{
    h1{
        font-weight: 700;
        font-size: 40px;
    }
}